@using BilgeAdamGuney.Models
@model ProductCreateModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h1 class="page-header">Yeni Ürün Ekleme</h1>




<form action="@Url.Action("Create", "Product")" id="create_form" method="post" enctype="multipart/form-data">

    @if (TempData["SuccessMessage"] != null)
    {
    <div class="alert alert-success form-group row">
        @TempData["SuccessMessage"]
    </div>
    }
    else if (TempData["ErrorMessage"] != null)
    {
    <div class="alert alert-danger form-group row">
        @TempData["ErrorMessage"]
    </div>
    }

    <div class="form-group row">
        @Html.LabelFor(m => m.Name, "Adı")
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @if (ViewData.ModelState["Name"] != null && ViewData.ModelState["Name"].Errors.Any())
            {
            <div class="alert alert-danger">
                @Html.ValidationMessage("Name")
            </div>
        }
    </div>
    <div class="form-group row">
        @Html.LabelFor(m => m.Description, "Açıklama")
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
    </div>
    <div class="form-group row">
        @Html.LabelFor(m => m.Price, "Fiyat")
        @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
    </div>
    <div class="form-group row">
        @Html.LabelFor(m => m.UnitsInStock, "Stok Miktarı")
        @Html.TextBoxFor(m => m.UnitsInStock, new { @class = "form-control" })
    </div>
    <div class="form-group row">
        @Html.LabelFor(m => m.ProductTypeId, "Kategori")
        @Html.DropDownListFor(m => m.ProductTypeId, (SelectList)ViewBag.ProductTypes, "Tür Yok", new { @class = "form-control" })
    </div>
    <div class="form-group row">
        @Html.LabelFor(m => m.ImageFile, "Resim")
        <input type="file" name="ImageFile" />
    </div>
    <div class="form-group row">
        <div class="col-xs-12 text-right">
            <button type="reset" class="btn btn-rounded btn-inline btn-warning">Temizle</button>
            <button type="submit" class="btn btn-rounded btn-inline btn-primary">Kaydet</button>
        </div>
    </div>

</form>

@section scripts{
    <script>

        $(function ()
        {
            var timer;
            window.addEventListener('load', function ()
            {
                $(".alert").slideDown("slow");
                debugger;
                clearTimeout(timer);
                var ms = 3000; // milliseconds
                timer = setTimeout(function ()
                {
                    debugger;
                    $(".alert.alert-success").slideUp("slow");
                }, ms);
            });
        });


        $("#create_form").validate(
            {
                rules:
                {
                    Name: { required: true, maxlength: 100, minlength: 2 }
                },
                messages:
                {
                    Name: { required: "<div class=\"alert alert-danger\">Ürün ismi alanı boş bırakılamaz</div>", maxlength: "<div class=\"alert alert-danger\">100 karakterden uzun olamaz.</div>", minlength: "<div class=\"alert alert-danger\">Ürün ismi 2 karaterden uzun olmalıdır</div>" }
                }
            });

    </script>
}
