@{
    Layout = null;
}
<!--
Au<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Interior Mobilya</title>
    <!--css-->
    <link href="~/_templates/web/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/_templates/web/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/_templates/web/css/font-awesome.css" rel="stylesheet">
    <link href="~/assets/css/main.css" rel="stylesheet" />
    <!--css-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="New Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="~/_templates/web/js/jquery.min.js"></script>
    <link href='//fonts.googleapis.com/css?family=Cagliostro' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300' rel='stylesheet' type='text/css'>
    <!--search jQuery-->
    <script src="~/_templates/web/js/main.js"></script>
    <!--search jQuery-->
    <script src="~/_templates/web/js/responsiveslides.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js"></script>
    <script src="~/assets/js/validate.min.js"></script>

    <script>
        $(function ()
        {
            $("#slider").responsiveSlides({
                auto: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                pager: true,
            });
        });
    </script>
    <!--mycart-->
    <script type="text/javascript" src="~/_templates/web/js/bootstrap-3.1.1.min.js"></script>
    <!-- cart -->
    <script src="~/_templates/web/js/simpleCart.min.js"></script>
    <!-- cart -->
    <!--start-rate-->
    <script src="~/_templates/web/js/jstarbox.js"></script>
    <link rel="stylesheet" href="~/_templates/web/css/jstarbox.css" type="text/css" media="screen" charset="utf-8" />
    <script type="text/javascript">
        jQuery(function ()
        {
            jQuery('.starbox').each(function ()
            {
                var starbox = jQuery(this);
                starbox.starbox({
                    average: starbox.attr('data-start-value'),
                    changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
                    ghosting: starbox.hasClass('ghosting'),
                    autoUpdateAverage: starbox.hasClass('autoupdate'),
                    buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
                    stars: starbox.attr('data-star-count') || 5
                }).bind('starbox-value-changed', function (event, value)
                {
                    if (starbox.hasClass('random'))
                    {
                        var val = Math.random();
                        starbox.next().text(' ' + val);
                        return val;
                    }
                })
            });
        });
    </script>
    <!--//End-rate-->
</head>
<body>
    <!--header-->
    <div class="header">
        <div class="header-top">
            <div class="container">
                <div class="top-left">
                    <a href="#"><i class="glyphicon glyphicon-phone" aria-hidden="true"></i> 0 (212) 343 22 12</a>
                </div>
                <div class="top-right">
                    <ul>
                        <li>
                            @if (Session["Member"] == null)
                            {
                                @Html.ActionLink("Giriş Yap", "SignIn", "Member")
                            }
                            else
                            {
                                BilgeAdamGuney.DataAccess.Entities.Member member = (BilgeAdamGuney.DataAccess.Entities.Member)Session["Member"];
                                @Html.ActionLink(string.Format("{0} {1}", member.FirstName, member.LastName), "Update", "Member",null ,new { @style = "margin-right:15px;" })
                                @Html.ActionLink("Sipariş Geçmişim", "GetByMember", "Order", new { id=member.Id}, new { @style = "margin-right:15px;" })
                                @Html.ActionLink("Çıkış", "SignOut", "Member")
                                if(member.RoleId==2)
                                {
                                    @Html.ActionLink("Admin Paneli","IndexAdmin","Home", new { @style = "margin-left:15px;" })
                                }
                            }
                        </li>
                        @if (Session["Member"] == null)
                        {
                            <li>@Html.ActionLink("Üye Ol", "SignUp", "Member")</li>
                        }
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="heder-bottom">
            <div class="container">
                <div class="logo-nav">
                    <div class="logo-nav-left">
                        <h1><a href="@Url.Action("Index","Home")">Interior Mobilya <span>Kalite, Uygun Fiyat</span></a></h1>
                    </div>
                    <div class="logo-nav-left1">
                        <nav class="navbar navbar-default">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header nav_2">
                                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                                <ul class="nav navbar-nav">
                                    <li class="active"><a href="@Url.Action("Index","Home")" class="act">Ana Sayfa</a></li>
                                    <!-- Mega Menu -->
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ürünler<b class="caret"></b></a>
                                        <ul class="dropdown-menu multi-column columns-3">
                                            <div class="row">
                                                @foreach (var item in (List<BilgeAdamGuney.DataAccess.Entities.Category>)TempData.Peek("Categories"))
                                                {
                                                    <div class="col-sm-3  multi-gd-img">
                                                        <ul class="multi-column-dropdown">
                                                            <h6>@item.Name</h6>
                                                            @foreach (var productType in item.ProductTypes)
                                                            {
                                                                <li><a href="@Url.Action("Index","ProductType",new { id=productType.Id })">@productType.Name</a></li>
                                                            }

                                                        </ul>
                                                    </div>
                                                }

                                                <div class="clearfix"></div>
                                            </div>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="header-right2">
                        <div class="cart box_1">
                            <a href="@Url.Action("Index","Cart")">
                                <h3>
                                    <div class="total">
                                        <span>@ViewBag.TotalCartAmount TL  </span> (@ViewBag.TotalProductCount ürün)
                                    </div>
                                    <img src="~/_templates/web/images/bag.png" alt="" />
                                </h3>
                            </a>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
    <!--header-->
    @RenderBody()


    <!--footer-->
    <div class="footer-w3l">
        <div class="container">
            <div class="footer-grids">
                <div class="col-md-3 footer-grid">
                    <h4>Hakkında </h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="social-icon">
                        <a href="#"><i class="icon"></i></a>
                        <a href="#"><i class="icon1"></i></a>
                        <a href="#"><i class="icon2"></i></a>
                        <a href="#"><i class="icon3"></i></a>
                    </div>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4>Hesabım</h4>
                    <ul>
                        <li>@Html.ActionLink("Giriş Yap", "SignIn","Member")</li>
                        <li>@Html.ActionLink("Üye Ol", "SignUp", "Member")</li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4>Bilgiler</h4>
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
                        <li><a href="products.html">Ürünler</a></li>
                        <li><a href="mail.html">Bize Ulaşın</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid foot">
                    <h4>İletişim</h4>
                    <ul>
                        <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i><a href="#">Bakırköy, TR</a></li>
                        <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i><a href="#">0 (212) 343 22 12</a></li>
                        <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:orhancaneral@gmail.com"> orhancaneral@gmail.com</a></li>

                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>

        </div>
    </div>
    <!---footer--->
    <!--copy-->
    <div class="copy-section">
        <div class="container">
            <div class="copy-left">
                <p>&copy; 2016 New Shop . All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
            </div>
            <div class="copy-right">
                <img src="~/_templates/web/images/card.png" alt="" />
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--copy-->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="news-gr">
                        <div class="col-md-5 new-grid1">
                            <img src="~/_templates/web/images/p5.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="col-md-7 new-grid">
                            <h5>Ten Women's Cotton Viscose fabric Grey Shrug</h5>
                            <h6>Quick Overview</h6>
                            <span>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
                            <div class="color-quality">
                                <div class="color-quality-left">
                                    <h6>Color : </h6>
                                    <ul>
                                        <li><a href="#"><span></span>Red</a></li>
                                        <li><a href="#" class="brown"><span></span>Yellow</a></li>
                                        <li><a href="#" class="purple"><span></span>Purple</a></li>
                                        <li><a href="#" class="gray"><span></span>Violet</a></li>
                                    </ul>
                                </div>
                                <div class="color-quality-right">
                                    <h6>Quality :</h6>
                                    <div class="quantity">
                                        <div class="quantity-select">
                                            <div class="entry value-minus1">&nbsp;</div>
                                            <div class="entry value1"><span>1</span></div>
                                            <div class="entry value-plus1 active">&nbsp;</div>
                                        </div>
                                    </div>
                                    <!--quantity-->
                                    <script>
                                        $('.value-plus1').on('click', function ()
                                        {
                                            var divUpd = $(this).parent().find('.value1'), newVal = parseInt(divUpd.text(), 10) + 1;
                                            divUpd.text(newVal);
                                        });

                                        $('.value-minus1').on('click', function ()
                                        {
                                            var divUpd = $(this).parent().find('.value1'), newVal = parseInt(divUpd.text(), 10) - 1;
                                            if (newVal >= 1) divUpd.text(newVal);
                                        });
                                    </script>
                                    <!--quantity-->
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="women">
                                <span class="size">XL / XXL / S </span>
                                <p><del>100.00 ₺</del><em class="item_price"> 70.00 ₺ </em></p>
                                <div class="add">
                                    <button class="btn btn-danger my-cart-btn my-cart-b" data-id="3" data-name="Kabuli Chana" data-summary="summary 3" data-price="2.00" data-quantity="1" data-image="~/_templates/web/images/of2.png">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="news-gr">
                        <div class="col-md-5 new-grid1">
                            <img src="~/_templates/web/images/p7.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="col-md-7 new-grid">
                            <h5>Ten Women's Cotton Viscose fabric Grey Shrug</h5>
                            <h6>Quick Overview</h6>
                            <span>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
                            <div class="color-quality">
                                <div class="color-quality-left">
                                    <h6>Color : </h6>
                                    <ul>
                                        <li><a href="#"><span></span>Red</a></li>
                                        <li><a href="#" class="brown"><span></span>Yellow</a></li>
                                        <li><a href="#" class="purple"><span></span>Purple</a></li>
                                        <li><a href="#" class="gray"><span></span>Violet</a></li>
                                    </ul>
                                </div>
                                <div class="color-quality-right">
                                    <h6>Quality :</h6>
                                    <div class="quantity">
                                        <div class="quantity-select">
                                            <div class="entry value-minus1">&nbsp;</div>
                                            <div class="entry value1"><span>1</span></div>
                                            <div class="entry value-plus1 active">&nbsp;</div>
                                        </div>
                                    </div>
                                    <!--quantity-->
                                    <script>
                                        $('.value-plus1').on('click', function ()
                                        {
                                            var divUpd = $(this).parent().find('.value1'), newVal = parseInt(divUpd.text(), 10) + 1;
                                            divUpd.text(newVal);
                                        });

                                        $('.value-minus1').on('click', function ()
                                        {
                                            var divUpd = $(this).parent().find('.value1'), newVal = parseInt(divUpd.text(), 10) - 1;
                                            if (newVal >= 1) divUpd.text(newVal);
                                        });
                                    </script>
                                    <!--quantity-->
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="women">
                                <span class="size">XL / XXL / S </span>
                                <p><del>100.00 ₺</del><em class="item_price"> 70.00 ₺</em></p>
                                <div class="add">
                                    <button class="btn btn-danger my-cart-btn my-cart-b" data-id="3" data-name="Kabuli Chana" data-summary="summary 3" data-price="2.00" data-quantity="1" data-image="~/_templates/web/images/of2.png">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="news-gr">
                        <div class="col-md-5 new-grid1">
                            <img src="~/_templates/web/images/p10.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="col-md-7 new-grid">
                            <h5>Ten Men's Cotton Viscose fabric Grey Shrug</h5>
                            <h6>Quick Overview</h6>
                            <span>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
                            <div class="color-quality">
                                <div class="color-quality-left">
                                    <h6>Color : </h6>
                                    <ul>
                                        <li><a href="#"><span></span>Red</a></li>
                                        <li><a href="#" class="brown"><span></span>Yellow</a></li>
                                        <li><a href="#" class="purple"><span></span>Purple</a></li>
                                        <li><a href="#" class="gray"><span></span>Violet</a></li>
                                    </ul>
                                </div>
                                <div class="color-quality-right">
                                    <h6>Quality :</h6>
                                    <div class="quantity">
                                        <div class="quantity-select">
                                            <div class="entry value-minus1">&nbsp;</div>
                                            <div class="entry value1"><span>1</span></div>
                                            <div class="entry value-plus1 active">&nbsp;</div>
                                        </div>
                                    </div>
                                    <!--quantity-->
                                    <script>
                                        $('.value-plus1').on('click', function ()
                                        {
                                            var divUpd = $(this).parent().find('.value1'), newVal = parseInt(divUpd.text(), 10) + 1;
                                            divUpd.text(newVal);
                                        });

                                        $('.value-minus1').on('click', function ()
                                        {
                                            var divUpd = $(this).parent().find('.value1'), newVal = parseInt(divUpd.text(), 10) - 1;
                                            if (newVal >= 1) divUpd.text(newVal);
                                        });
                                    </script>
                                    <!--quantity-->
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="women">
                                <span class="size">XL / XXL / S </span>
                                <p><del>$100.00</del><em class="item_price"> $70.00 </em></p>
                                <div class="add">
                                    <button class="btn btn-danger my-cart-btn my-cart-b" data-id="3" data-name="Kabuli Chana" data-summary="summary 3" data-price="2.00" data-quantity="1" data-image="~/_templates/web/images/of2.png">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal4" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="news-gr">
                        <div class="col-md-5 new-grid1">
                            <img src="~/_templates/web/images/p12.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="col-md-7 new-grid">
                            <h5>Ten Men's Cotton Viscose fabric Grey Shrug</h5>
                            <h6>Quick Overview</h6>
                            <span>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
                            <div class="color-quality">
                                <div class="color-quality-left">
                                    <h6>Color : </h6>
                                    <ul>
                                        <li><a href="#"><span></span>Red</a></li>
                                        <li><a href="#" class="brown"><span></span>Yellow</a></li>
                                        <li><a href="#" class="purple"><span></span>Purple</a></li>
                                        <li><a href="#" class="gray"><span></span>Violet</a></li>
                                    </ul>
                                </div>
                                <div class="color-quality-right">
                                    <h6>Quality :</h6>
                                    <div class="quantity">
                                        <div class="quantity-select">
                                            <div class="entry value-minus1">&nbsp;</div>
                                            <div class="entry value1"><span>1</span></div>
                                            <div class="entry value-plus1 active">&nbsp;</div>
                                        </div>
                                    </div>
                                    <!--quantity-->
                                    <script>
                                        $('.value-plus1').on('click', function ()
                                        {
                                            var divUpd = $(this).parent().find('.value1'), newVal = parseInt(divUpd.text(), 10) + 1;
                                            divUpd.text(newVal);
                                        });

                                        $('.value-minus1').on('click', function ()
                                        {
                                            var divUpd = $(this).parent().find('.value1'), newVal = parseInt(divUpd.text(), 10) - 1;
                                            if (newVal >= 1) divUpd.text(newVal);
                                        });
                                    </script>
                                    <!--quantity-->
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="women">
                                <span class="size">XL / XXL / S </span>
                                <p><del>$100.00</del><em class="item_price"> $70.00 </em></p>
                                <div class="add">
                                    <button class="btn btn-danger my-cart-btn my-cart-b" data-id="3" data-name="Kabuli Chana" data-summary="summary 3" data-price="2.00" data-quantity="1" data-image="~/_templates/web/images/of2.png">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <script>

    $(".sepete-ekle").on("click", function my (e)
    {
        e.preventDefault();
        var productId = $(this).data("product-id");
        debugger;
        $.ajax({
            type: "GET",
            url: "/Cart/AddToCart",
            data: { id:productId },
            success: function ()
            {
                alert("Ürün sepete Eklendi :)")
            },
            error: function ()
            {
                alert("error");
            }
        })
    });

    </script>
    @RenderSection("scripts", false)
</body>
</html>